*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#header {
    border-bottom: 1px solid #ccc;
}
#header .sub-header {
    padding-top: 15px;
}

#header>div{
    width: 100%;
}

#header .sub-header .icon-header {
    transform: none;   
}

#header .sub-header .icon-header img{
    width: 50%;
    margin-bottom: 18px;
}



#header .sub-header .search-input {
    position: relative;
}

#header .sub-header .search-icon {
    position: absolute;
    font-size: 20px;
    top: 3px;
    left: 25px;
}

#header .nav-bar ul{
    list-style: none;
    display: flex;
    gap: 9px;
    margin: 0;
}

#header .nav-bar li a{
    text-decoration: none;
    color:black;
    display: block;
    border: none;
    background: #fff;
    font-size: 19px;
    font-weight: 600;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
#header .nav-bar li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    border-bottom: 4px solid #cf0000;

    transition: width 0.5s; 
}

#header .nav-bar li a:hover::after{
    width: 100%;
}


#footer{
    background-color: #c2c2c2;
    padding: 50px 20px 5px 20px;
    margin-top: 20px;   
}

#footer>div{
    width: 100%;
}

#footer .infor-contact{
    display: flex;
}
#footer .infor-contact div{
    margin: 10px;
    font-size: 20px;
    background-color: #d7d7d7;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;    
}

#footer .infor-contact p{
   line-height: 4;
   color: #000;
}
#footer .infor-contact a{
    color: #000;
    text-decoration: none;
 }

#footer .infor-contact a:hover{
    color: #000;
    opacity: .7;
}
 
 

#footer .footer-about{
    text-align: left;
}