#slider img{
    inset: 0px;
    object-fit: cover;
    color: transparent;
}

#content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

#content .sub-content {
    /* border-bottom: 1px solid #ccc; */
    margin: 15px 0;
}

#content .img-container {
    width: 650px;
    height: 450px;
    overflow: hidden;
    border-radius: 11px;
    padding: 0;

}

#content .img-container img {
    transition: transform 1s ease;
    height: 100%;

    width: 100%;
    inset: 0px;
    object-fit: cover;
    color: transparent;
}
#content .img-container img:hover{
   transform: scale(1.2);
   border-radius: 11px;

}

#content .heading {
    color: #df321b;
    margin-bottom: 25px;
}

#content .discription {
    font-size: 18px;
    line-height: 36px;
}

#content .time {
    font-style: italic;
    font-weight: 600;
}